#minisite_sidebar									{ float:left; width:26%; padding:0 2% 0 0; border-right:2px solid #ccc; margin:0; }
#minisite_sidebar_nav								{ list-style:none; display:block; padding:0; margin:0; }
#minisite_sidebar_nav li							{ margin:15px 0 0; padding:0; }	
#minisite_sidebar_nav > li:first-child				{ margin:0; }		
#minisite_sidebar_nav a								{ display:block; }					
#minisite_sidebar_nav a.current:hover				{ text-decoration:none !important; cursor:text; }
#minisite_sidebar_nav a.current:before				{ content:'\f0da'; float:left; margin-left:-8px; font-family:FontAwesome; }			
								
#minisite_sidebar_nav li.minisite_title				{ border-bottom:1px solid #ccc; }
#minisite_sidebar_nav li.minisite_title h2			{ }
#minisite_sidebar_nav li.minisite_title a:hover		{ text-decoration:none !important; }

#minisite_sidebar_nav li ul							{ display:none; list-style:none; padding-left:10px; }
#minisite_sidebar_nav li.current ul,
#minisite_sidebar_nav li.section ul					{ display:block; }

#minisite_sidebar_nav ul							{ padding-bottom:15px; border-bottom:1px solid #ccc; }

#minisite_sidebar_nav li .mcontrol:before,
#minisite_sidebar_nav li .control:before			{ display:inline-block; float:left; margin:0 0 0 -18px; font-family:FontAwesome; content:'\f055'; font-size:14px; cursor:pointer; }
#minisite_sidebar_nav li.open .mcontrol:before,
#minisite_sidebar_nav li.open .control:before,
#minisite_sidebar_nav li.current .control:before,
#minisite_sidebar_nav li.section .control:before	{ content:'\f056'; }
#minisite_sidebar_nav li.closed .control:before		{ content:'\f055'; }
#minisite_sidebar_nav .minisite_title .mcontrol		{ display:none; }
#minisite_sidebar_nav .minisite_title .mcontrol:before	{ font-size:20px; margin:0px 10px 0 0; }

#minisite_right										{ float:right; width:72%; }		

#minisite_sidebar_content							{ margin-top:30px; padding-top:30px; border-top:2px solid #ccc; }

@media(min-width:801px){
	#minisite_sidebar_nav > li						{ display:block !important; }
}

@media (max-width:800px){
	#minisite_sidebar								{ width:100%; margin:0 0 30px; float:none; min-height:0px !important; padding:0; border:none;  border-bottom:1px solid #76b728; }
	#minisite_right									{ width:100%; float:none; }

	#minisite_sidebar_nav li.minisite_title				{ display:block !important; border-bottom-color:transparent; position:relative; padding-left:30px; }
	#minisite_sidebar_nav li.minisite_title.open		{ border-bottom-color:#ccc; }
	#minisite_sidebar_nav li.minisite_title .mcontrol	{ display:block; position:absolute; top:0; right:0; bottom:0; left:0; }
	#minisite_sidebar_nav li.minisite_title h2			{ font-size:20px; }
	#minisite_sidebar_nav > li						{ display:none; }
	#minisite_sidebar_content						{ border-top-width:1px; margin-top:0; padding-top:15px; }
	#minisite_sidebar_nav > li:last-child			{ margin-bottom:20px; }
	#minisite_sidebar_nav a							{ padding-left:20px; }
	#minisite_sidebar_nav li .mcontrol:before, 
	#minisite_sidebar_nav li .control:before		{ margin-left:0; }
}

@media(max-width:600px){
	#minisite_sidebar_nav > li						{ padding-left:15px; }
}